@font-face { 
	font-family: Jenna Sue; 
		src: url('JennaSue-webfont.eot'); 
		src: local("Jenna Sue"), url('./Fonts/JennaSue-webfont.ttf'); 
} 

@font-face { 
	font-family: News Cycle; 
		src: url('NewsCycle-Regular.eot'); 
		src: local("News Cycle"), url('./Fonts/NewsCycle-Regular.ttf'); 
} 

* {
	margin: 0;
	padding: 0;
}

body { 
	font: normal .85em arial, sans-serif;
	color: #FFFFFF;
	background: transparent url(../images/6.jpg) repeat; 
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
	padding-bottom: 40px;
}

p { 
	padding: 0 0 10px 0;
	line-height: 1.7em;
	font-size: 100%;
	text-indent: 50px;
	text-justify: auto;
	font: normal 1.3em "News Cycle", arial, sans-serif;
	padding: 0 0 20px 0;
	line-height: 1.5em;
}
  
h1, h3 { 
	font: normal 400% 'Jenna Sue', arial, sans-serif;
	color: #FFFFFF;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
}

img.fl {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 400px;
}

img:hover {
	transform: scale(0.9);/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

h1 { 
	font: normal 225% 'News Cycle', arial, sans-serif;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: -1px;
	margin: 0 0 10px 0;
}

h3 { 
	font: normal 200% 'trebuchet ms', arial, sans-serif;
}

ul { 
	margin: 2px 0 22px 30px;
	line-height: 1.7em;
	font-style: bold;
	font-size: 100%;
}

#main, #header, #banner, #menubar, #site_content, #footer { 
	margin-left: auto; 
	margin-right: auto;
}

#main  { 
	background: transparent;
}
  
header #heading { 
	height: 80px;
	float: left;
}

.logo {
	position: absolute;
	top: 10%;
	left: 10%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
}

#banner{ 
	width: 1300px;
	position: relative;
	height: 90px;
	padding: 15px 0 0 0;
	background: transparent;
}

#welcome { 
	width: 500px;
	float: left;
	height: 50px;
	margin: 0 auto;
	padding-left: 160px;
	padding-top: 5px;
	background: transparent;
}   
   
#welcome H1  { 
	font: normal 200% 'Jenna Sue', arial, sans-serif;
	letter-spacing: 3px;
	color: #000000;
}
  
#menu_container { 
	height: 100px;
}  
  
#menubar { 
	width: 600px;
	height: 100px;
	float: right;
	margin: 0 auto;
} 
  
ul#menu {
	margin:0;
	padding-top: 8px;
}

ul#menu li { 
	padding: 0 0 0 0px;
	list-style: none;
	margin: 2px 0 0 0;
	display: inline;
	background: transparent;
}

ul#menu li a {
	float: left;
	font: bold 130% 'News Cycle', arial, sans-serif;
	height: 50px;
	margin: 10px 0 0 20px;
	padding: 6px 10px 0 10px;
	background: transparent; 
	text-align: center;
	color: #000000;
	text-decoration: none;
} 
  
ul#menu li a:hover {
	color: #9966cc;
	font-weight: bold;
}

#site_content{
	width: 920px;
	overflow: hidden;
	padding-left: 20px;
	padding-bottom: 20px;
	background: transparent url(../images/transparent.png) repeat;
} 

#content{
	width: 900px;
	float: left;
}
  
.content_item
{
	width: 900px;
	margin-bottom: 10px;
}

.container {
	float: left;
	width: 900px;
}  
  
.vision { 
	width: 385px;
	float: left;
	padding: 20px;
	background: #999999;
	color: #000000;
}
  
.vision h3 {
	color: #000;
}  
 
.vision:hover {
	transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.mission:hover {
	transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
  
.mission {
	width:  385px;
	margin-left: 26px;
	float: left;
	padding: 20px;
	background: #999999;
	color: #000000;
}  
  
.mission h3 { 
	color: #000;
}  
 
#footer { 
	width: 940px;
	height: 40px.;
	font-weight: normal;
	padding-top: 15px;
	text-align: right; 
	background: transparent;
	color: #000000;
}
  
