@font-face { 
	font-family: Jenna Sue; 
		src: url('JennaSue-webfont.eot'); 
		src: local("Jenna Sue"), url('./Fonts/JennaSue-webfont.ttf'); 
} 

@font-face { 
	font-family: News Cycle; 
		src: url('NewsCycle-Regular.eot'); 
		src: local("News Cycle"), url('./Fonts/NewsCycle-Regular.ttf'); 
} 

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvitica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
	background: transparent url(../images/6.jpg) repeat;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.divider {
    width: 100%;
    margin: auto;
    background-color: #35424A;
    min-height: 70px;
}

.dark {
    padding: 15px;
    background-color: #35424a;
    color: wheat;
    margin: 10px 0;
}

/* Header */

header {
    color: #e8491d;
    padding-top: 30px;
    min-height: 70px;
	background: #35424A;
	border-bottom: #e8491d 5px solid;
	font-family:News Cycle;
}

header #heading {
    float: left;
}

.logo {
	position: absolute;
	top: 9%;
	left: 7%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {

}

header ul li {
    float: left;
    display: inline;
    padding: 0 20px;
}

header li a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header .highlight,
header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #e8491d;
}

/* Slide Show*/

#slideshow {
    min-height: 300px;
    color: white;
    text-align: center;
	background-color: #FFFFFF;
	border-bottom: #35424A 3px solid;
}

.slide-container{
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: inherit;
    padding-bottom: 60%;
}

.slide-img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide-img img{
    width: 1100px;
    height: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#img1, #img2, #img3{
    display: none;
}

.prev, .next{
    width: 5%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88,88,88,.4);
    z-index: 99;
    cursor: pointer;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

.slide-nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0,0,0,.6);
}

.slide-img{
    z-index: -1;
}

#img1:checked ~ #one,
#img2:checked ~ #two,
#img3:checked ~ #three{
    z-index: 9;
}

#img1:checked ~ .slide-nav #dot1,
#img2:checked ~ .slide-nav #dot2,
#img3:checked ~ .slide-nav #dot3{
    background: #FFFFFF;
}

#slideshow h1 {
    margin: 10px 0 10px 0;
    font-size: 55px;
}

#slideshow p {
    font-size: 20px;
}

#contact {
    margin-top: 40px;
}

#contact .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#contact .box img {
    width: 100px;
}

footer {
    clear: both;
    padding: 20px;
    margin-top: 20p;
    color: white;
    background-color: #35424A;
    text-align: center;
	border-top: #e8491d 5px solid;
}

