html {
    background-image: url("../images/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 100%;
    height: 7%;
    float: inherit;
}

.logo {
    width: 50px;
    height: inherit;
    float: left;
}

#heading {
    padding-top: 10px;
    
}

h1{
    position: relative;
    bottom: 25px;
    font-size: 30px;
    color: darkseagreen;
    float:left;
    padding-left: 30px;
    padding-left: 20px;
    padding-bottom: 100px;
}

h1:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

h1:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

nav{
    float: right;
    height: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: 5a6d8e;
}

li {
    position: relative;
    float: left;
    z-index: 101;
}

li a {
    display: block;
    color: darkseagreen;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    font-size: 50px;
    transition: .3s ease-out;
}

section {
    padding-top: 50px;
    margin: auto;
    width: 80%;
    
}

/* Slide Show*/

#slideshow {
    padding-top: 50px;
    min-height: 300px;
    width: inherit;
    color: white;
    text-align: center;
	border-bottom: #35424A 3px solid;
    padding-top: 50px;
}

.slide-container{
    margin: 0 auto;
    position: relative;
    width: 85%;
    height: inherit;
    padding-bottom: 60%;
    background-color: darkslategrey;
}

.slide-img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide-img img{
    width: 1100px;
    height: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#img1, #img2, #img3{
    display: none;
}

.prev, .next{
    width: 5%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    cursor: pointer;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

.slide-nav{
    width: 100%;
    height: 11px;
    bottom: 7%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: darkslategrey;
}

.slide-img{
    z-index: -1;
}

#img1:checked ~ #one,
#img2:checked ~ #two,
#img3:checked ~ #three{
    z-index: 9;
}

#img1:checked ~ .slide-nav #dot1,
#img2:checked ~ .slide-nav #dot2,
#img3:checked ~ .slide-nav #dot3{
    background: #FFFFFF;
}

#img1.hidden {
    visibility: hidden;
}

#slideshow h1 {
    margin: 10px 0 10px 0;
    font-size: 55px;
}

#slideshow p {
    font-size: 20px;
}

.box img{
    height: 100px;
    width: inherit;
}

#contact {
    height: 100px;
}

#contact .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
}

#contact .box img {
    width: 100px;
}

#contact .box img:hover {
    -webkit-animation: rotation 2s infinite
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

footer {
    width: 90%;
    clear: both;
    padding: 20px;
    margin-top: 20p;
    color: black;
    text-align: right;
}

